<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TITLE</title>
</head>
<body>
{#変数を埋め込む場合は{{  }}で囲む#}
<h1>My Tasks</h1>
<ul>
    {% for task in tasks %}
        {# loop.indexはループのインデックスを取得。１始まりなのに注意#}
        {% if loop.index % 3 > 0 %}
            {# 3の倍数以外の要素を出力 #}
            <li>{{ task }}</li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>