{# base.htmlを読み込む #}
{% extends "bootstrap/base.html" %}

{# base.htmlに定義したcontentブロックを定義 #}
{% block content %}
    <div class="container">
        <h1>ログイン画面</h1>
        <form method="post">
            <label for="" class="form-label">ユーザー名</label>
            <input type="text" name="username" id="username" class="form-control">
            <label for="" class="form-label">パスワード</label>
            <input type="password" name="password" id="password" class="form-control">
            <input type="submit" value="ログイン" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
